:root {
  --slide-height: 9rem;
  --slide-spacing: 2rem;
  --slide-size: 100%;
  --dot-size: .5rem;
  --dot-border: .6rem;
  --dot-spacing: .5rem;
}

@media screen and (min-width: 576px) {
  :root {
    --slide-height: 15rem;
    --dot-size: .3rem
  }
}

@media screen and (min-width: 768px) {
  :root {
    --slide-height: 19rem;
    --dot-size: .5rem
  }
}

.embla {
  max-width: 48rem;
  margin: auto;
  min-height: 80vh;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  height: 60vh;
}

.embla__live-region {
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.embla__project-info {
  margin-top: .5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: rgba(var(--text-body-rgb-value), 0.05);
  min-height: 60vh;
}

.embla__project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  
}
