:root {
  --slide-height: 9rem;
  --slide-spacing: 2rem;
  --slide-size: 100%;
  --dot-size: .5rem;
  --dot-border: .6rem;
  --dot-spacing: .5rem;
}

@media screen and (min-width: 576px) {
  :root {
    --slide-height: 15rem;
    --dot-size: .3rem
  }
}

@media screen and (min-width: 768px) {
  :root {
    --slide-height: 19rem;
    --dot-size: .5rem
  }
}

.embla {
  max-width: 48rem;
  margin: auto;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  height: 60vh;
}

.embla__live-region {
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.embla__project-info {
  margin-top: .5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: rgba(var(--text-body-rgb-value), 0.05);
  min-height: max-content;
}

.embla__project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  
}

.embla__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.embla__dot {
  appearance: none;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: var(--dot-size);
  height: var(--dot-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}
.embla__dot:before,
.embla__dot:after {
  width: var(--dot-spacing);
  height: var(--dot-spacing);
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot:before {
  border: var(--dot-border) solid white;
  background-color: white;
}
.embla__dot:after {
  border: var(--dot-border) solid red;
  background-color: red;
  opacity: 0;
}
.embla__dot--selected:after {
  opacity: 1;
}

