:root {
  --font-inter: var(--font-inter);
  --font-rubik: var(--font-rubik);
}

CSS Reset 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}
body {
  font-family: var(--font-inter), sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-image: linear-gradient(to right, #040110 100%, #1f2223 100%);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-rubik), sans-serif;
}

h1 {
  font-size: 96px;
}

.inter-bold {
  font-family: var(--font-inter), sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.card {
  height: 100%;
}
.icon {
  width: 100px;
  height: 100px;
}
.contact-icon {
  width: 50px;
  height: 50px;
}
iframe {
  width: 50vw;
  height: 50vh;
  border: 0;
}

button {
  border-radius: 100px;
}

#landing,
#projects,
#tools,
#contact-form {
  scroll-margin-top: 80px; /* Adjust based on your navbar height */
}