:root {
  --font-inter: var(--font-inter);
  --font-rubik: var(--font-rubik);
}

CSS Reset 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}
#siteNavbar {
  background-image: linear-gradient(to right, #040110 100%, #1f2223 100%);
  letter-spacing: 1px;
}

body {
  font-family: var(--font-inter), sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-image: linear-gradient(to right, #040110 100%, #1f2223 100%);
}

h1,
h2,
h3,
h4
{
  font-family: var(--font-rubik), sans-serif;
}

@media (min-width: 576px) {
  .h1 {font-size: 6rem;}
  .h2 {font-size: 4rem;}
}

@media (max-width: 576px) {
  .h1, .h2 {font-size: 3rem;}
}



.inter-bold {
  font-family: var(--font-inter), sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.card {
  height: 100%;
}
.icon {
  width: 100px;
  height: 100px;
}
.contact-icon {
  width: 50px;
  height: 50px;
}
iframe {
  width: 50vw;
  height: 50vh;
  border: 0;
}

button {
  border-radius: 100px;
}

#landing,
#projects,
#experience,
#contact-form {
  scroll-margin-top: 5rem; /* Adjust based on your navbar height */
}

.nav-pills .nav-item .nav-link.active,
.nav-pills .nav-item .nav-link.active:hover,
.nav-pills .nav-item .nav-link.active:focus {
  background-color: #fff; /* Your desired color */
}

.text-danger, .btn-danger {
  color: #EC002F
}

.alt-text {
  font: var(--font-inter);
  color: #fff;
  font-size: small;
}