CSS Reset 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-image: linear-gradient(to right, #040110, #1f2223);
}

h1,
h2,
h4 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 96px;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.card {
  height: 100%;
}
.icon {
  width: 100px;
  height: 100px;
}
.contact-icon {
  width: 50px;
  height: 50px;
}
iframe {
  width: 50vw;
  height: 50vh;
  border: 0;
}

button {
  border-radius: 100px;
}